<div class="systematization-activity-container">
  <div class="row">

    <div class="col s8">
      <span>Select the PDF lecture to use for the text: </span>

        <mat-select placeholder="Select the lecture:"  
          [(ngModel)]="selectedLecture"
          (change)="getLecturePath()">
          <mat-option *ngFor="let lectura of lecturas | async" [value]="lectura.id" >
            {{ lectura.tituloDoc }}
          </mat-option>
        </mat-select>
      <div class="pdf-container">
        <pdf-viewer *ngIf="!!rutaLectura"
          [src]="rutaLectura" 
          [render-text]="false"
          [show-all]="true">
        </pdf-viewer>
      </div>      
    </div>

    <div class="col s4">
      <span>Insert the text: </span>
      <form [formGroup]="sendTextFormGroup" (ngSubmit)="sendTextToProfessor()">
        <textarea placeholder="Text"
          [(ngModel)]="studentText"
          formControlName="textoEstudiante">
        </textarea>          
        <input matInput 
        type="email"
        placeholder="Type the professors' email:" 
        [(ngModel)]="professorsEmail" 
        formControlName="emailProfesor"/>
        <button type="submit" mat-raised-button color="primary" [disabled]="sendTextFormGroup.pristine">Send Text</button>
      </form>
    </div>

  </div>  
</div>

