<div class="flex-container">
  <form>
    <mat-form-field color="primary">
      <div class="input field">
        <input matInput placeholder="Secuence Name" 
          [(ngModel)]="secuenciaActividad.nombre" 
          name="secuenciaActividad.nombre" required/>
      </div>
    </mat-form-field>

    <mat-form-field color="primary">
      <mat-select placeholder="Select Level: " 
        (change)="getTexts()" 
        [(ngModel)]="secuenciaActividad.idNivel" name="secuenciaActividad.idNivel" required>
        <mat-option *ngFor="let level of levels | async" 
          [value]="level.id" >
          {{ level.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field color="primary">
      <mat-select placeholder="Select Text: "
        [(ngModel)]="secuenciaActividad.idTexto" name="secuenciaActividad.idTexto" required>
        <mat-option *ngFor="let text of texts | async" [value]="text.id" >
          {{ text.tituloDoc }} - {{ text.autor }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="flex-container">
      <div materialize class="card medium activities-card" 
        *ngFor="let activity of activities | async" 
        (click)="checkActivity(activity)" 
        [ngClass]="{ 'card-selected': isActivitySelected(activity) }"  >
        <div class="card-image">
            <img mat-card-image src="../../assets/activities_images/activity{{ activity.id }}.png">
            <span>{{ activity.nombre }}</span>
        </div>
        <div class="card-content">
            <mat-card-content>{{ activity.descripcion }}</mat-card-content>
        </div>
      </div>
    </div>
  </form>

  <button type="submit" mat-raised-button color="primary" (click)="saveSequence()">Save Sequence</button>
</div>