<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="activitiesSequence">

    <!-- fecha_generacion -->
    <ng-container matColumnDef="fecha_generacion">
      <mat-header-cell *matHeaderCellDef> fecha_generacion </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fecha_generacion}} </mat-cell>
    </ng-container>

    <!-- usuario_realizador -->
    <ng-container matColumnDef="usuario_realizador">
      <mat-header-cell *matHeaderCellDef> usuario_realizador </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.usuario_realizador}} </mat-cell>
    </ng-container>

    <!-- nivel_idioma -->
    <ng-container matColumnDef="nivel_idioma">
      <mat-header-cell *matHeaderCellDef> nivel_idioma </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nivel_idioma}} </mat-cell>
    </ng-container>

    <!-- Actions -->
<!--     
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button (click)=> Edit </button>  
      </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>  
</div>
