<div class="location-activity-container">
  <mat-grid-list cols="10" rowHeight="10:40">
    <mat-grid-tile colspan="7">      
      <div class="html-text-container">
          <span>Select the words from the text....</span>
        <div [innerHTML]="taggedHTML | safeHtml" class="html-text"></div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div class="categories-container">
        <span>You can see the clicked words here</span>
        <div class="categories-box">{{addedWords}}</div>
        <button mat-raised-button color="primary" (click)="clearWords()" [disabled]="addedWords.length === 0">Clean Words</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="actions-container">
    <button mat-button color="primary" (click)="validateResults()">Validate</button>
    <button mat-raised-button color="primary" (click)="navigateToNextActivity()" [disabled]="!resultsOK">Next Activity</button>
  </div>
</div>