<div class="systematization-activity-container">
    <mat-grid-list cols="10" rowHeight="10:40">
      <mat-grid-tile colspan="10">      
        <div class="html-text-container">
            <span>Select the type of the word, then hit "Validate" button to check the results</span>
          <div [innerHTML]="taggedHTML | safeHtml" class="html-text"></div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="actions-container">
      <button mat-button color="primary" (click)="validateResults()">Validate</button>
      <button mat-raised-button color="primary" (click)="navigateToNextActivity()" [disabled]="!resultsOK">Next Activity</button>
    </div>
  </div>