.systematization-activity-container {
  width: 98%;
  margin: auto auto;
}

.html-text-container {
  display: inline-block;
  height: 100%;
}

.html-text {
  height: 100%;
  overflow: scroll;
  padding: 18px;
  background-color: white;
  text-align: justify;
}

.categories-container {
  padding: 18px;
}

.categories-box {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  text-align: center;
}

.word-to-click {
  cursor: pointer;
}

.categories-box {
  white-space: pre-wrap;
}
.actions-container {
  float: right;
}

/* Styles for Custom Dropdown */
.main-word-container {
  display: inline-flex;
}

.dropdown-absolute {
  position: relative
}

.main-word {
  font-style: italic;
  cursor: pointer;
  font-weight: 600;
}

.dropdown-list {
  position: absolute;
  margin: 0;
  width: max-content;
}

.active {
  background-color: aqua !important;
}

.custom-options {
  z-index: 29;
  position: relative;
}

.custom-options:hover {
  background-color: gray;
}

.ctag-hidden {
  display: none;
}

li {
  display: block;
  transition-duration: 0.5s;
 }
 
 li:hover {
   cursor: pointer;
 }
 
 ul li ul {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   transition: all 0.5s ease;
   margin-top: 1rem;
   left: 0;
   display: none;
 }
 
 ul li:hover > ul,
 ul li ul:hover {
   visibility: visible;
   opacity: 1;
   display: block;
 }
 
 ul li ul li {
   clear: both;
   width: 100%;
   clear: both;
   width: 100%;
   background-color: white;
   border: 1px solid black;
 }
